<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item class="fondo input ion-margin-top" lines="none">
    <ion-input label="Contraseña Actual" labelPlacement="floating"></ion-input>
  </ion-item>
  <ion-item class="fondo input ion-margin-top" lines="none">
    <ion-input label="Nueva Contraseña" type="password" labelPlacement="floating"></ion-input>
  </ion-item>
  <ion-button> Guardar </ion-button>
</ion-content>
